
services:
  postgres:
    image: postgres:10
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./tablespaces:/var/lib/postgresql/tablespaces/ts1
      - ./backups/completo:/var/lib/postgresql/backups/completo
      - ./backups/diferencial:/var/lib/postgresql/backups/diferencial
      - ./backups/incremental/wal:/var/lib/postgresql/backups/incremental/wal
      - ./airflow/script:/docker-entrypoint-initdb.d
      
    restart: always
    networks: 
      - red-financial

  pgloader:
    image: dimitri/pgloader
    platform: linux/amd64
    depends_on:
      - postgres
    volumes:
      - ./data:/data
    entrypoint:
      - bash
      - -c
      - |
        echo "Esperando 20 segundos a que Postgres arranque..."
        sleep 20
        echo "Ejecutando pgloader."
        pgloader /data/creacion.load
    networks:
      - red-financial

  airflow-init:
    image: apache/airflow:2.9.1
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |
        airflow db migrate && \
        airflow users create \
          --username ${AIRFLOW_USER} \
          --password ${AIRFLOW_PASSWORD} \
          --firstname Dana \
          --lastname Amador \
          --role Admin \
          --email amadordana125@gmail.com
    environment:
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${AIRFLOW_USER}:${AIRFLOW_PASSWORD}@postgres:5432/${POSTGRES_DB_AIRFLOW}
      - AIRFLOW__WEBSERVER__SECRET_KEY=${AIRFLOW_WEBSERVER_SECRET_KEY}
    user: "0:0"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
    depends_on:
      - postgres
    networks:
      - red-financial

  airflow-webserver:
    image: apache/airflow:2.9.1
    restart: always
    command: webserver
    ports:
      - "8081:8080"
    depends_on:
      - postgres
      - airflow-init
      - airflow-scheduler
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${AIRFLOW_USER}:${AIRFLOW_PASSWORD}@postgres:5432/${POSTGRES_DB_AIRFLOW}
      - AIRFLOW__WEBSERVER__SECRET_KEY=${AIRFLOW_WEBSERVER_SECRET_KEY}
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - red-financial

  airflow-scheduler:
    image: apache/airflow:2.9.1
    restart: always
    command: scheduler
    depends_on:
      - postgres
      - airflow-init
    environment:
      - AIRFLOW__CORE__EXECUTOR=LocalExecutor
      - AIRFLOW__CORE__LOAD_EXAMPLES=False
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://${AIRFLOW_USER}:${AIRFLOW_PASSWORD}@postgres:5432/${POSTGRES_DB_AIRFLOW}
      - AIRFLOW__WEBSERVER__SECRET_KEY=${AIRFLOW_WEBSERVER_SECRET_KEY}
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - red-financial

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - red-financial

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - red-financial

  pyspark:
    volumes:
      - ${PATH_LOCAL_USER}:/home/jovyan
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8888:8888
    environment:
      - JUPYTER_TOKEN=${JUPYTER_TOKEN}

networks:
  red-financial:
    driver: bridge
