services:
  postgres:
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/
    restart: always
    networks:
      - red-financial

  pgloader:
    image: dimitri/pgloader
    platform: linux/amd64
    depends_on:
      - postgres
    volumes:
      - ./data:/data
    entrypoint:
      - bash
      - -c
      - |
        echo "Esperando 20 segundos a que Postgres arranque..."
        sleep 20
        echo "Ejecutando pgloader."
        pgloader /data/creacion.load
    networks:
      - red-financial

volumes:
  pg_data:

networks:
  red-financial:
    driver: bridge