x-airflow-common:
  &airflow-common
  image: apache/airflow:2.8.1
  environment:
    &airflow-common-env 
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__ALCHEMY_CONN: "postgresql+psycopg2://${AIRFLOW_USER}:${AIRFLOW_PASSWORD}@AIRFLOW/${AIRFLOW_DB}"
    AIRFLOW__CORE_DAGS_ARE_PAUSED_AT_CREATION: 'true'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.basic_auth'
    _PIP_ADDITIONAL_REQUIREMENTS: ""
  volumes:
    - ./dags:/opt/airflow/dags
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
  user: "$0:0"
  depends_on:
    - postgres
    - airflow_postgres


services:
  postgres:
    container_name: postgres
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pg_data:/var/lib/postgresql/
    restart: always
    networks:
      - red-financial

  postgres:
    container_name: airflow-postgres
    image: postgres:latest
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ${AIRFLOW_USER}
      POSTGRES_PASSWORD: ${AIRFLOW_PASSWORD}
      POSTGRES_DB: ${AIRFLOW_DB}
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    networks:
      - red-financial

  pgloader:
    image: dimitri/pgloader
    platform: linux/amd64
    depends_on:
      - postgres
    volumes:
      - ./data:/data
    entrypoint:
      - bash
      - -c
      - |
        echo "Esperando 20 segundos a que Postgres arranque..."
        sleep 20
        echo "Ejecutando pgloader."
        pgloader /data/creacion.load
    networks:
      - red-financial

volumes:
  pg_data:

networks:
  red-financial:
    driver: bridge